<!DOCTYPE html>
<html>
<head>
<style>
#style#
</style>
</head>
<body>
<div class="page-container flex">
<div class="full-height full-width margin flex centered">
<div class="full-height half-width margin flex column centered">
<table class="four-fifths-height full-width margin">
<tr>
<th></th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>T</th>
<th>A</th>
</tr>
#hardhands#
</table>
<div class="fifth-height full-width flex margin">
<div class="full-height full-width flex centered">
<table class="full-height full-width margin no-border">
<tr>
<th value="H"></th>
<th class="no-border"><div class="flex full-height half-width info-label">Hit</div></th>
</tr>
<tr>
<th value="S"></th>
<th class="no-border"><div class="flex full-height half-width info-label">Stand</div></th>
</tr>
<tr>
<th value="D"></th>
<th class="no-border"><div class="flex full-height half-width info-label">Double down</div></th>
</tr>
<tr>
<th value="P"></th>
<th class="no-border"><div class="flex full-height half-width info-label">Split</div></th>
</tr>
</table>
</div>
</div>
</div>
<div class="full-height half-width margin flex column centered">
<div class="third-height full-width margin flex centered">
<table class="full-height full-width margin">
<tr>
<th></th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>T</th>
<th>A</th>
</tr>
#softhands#
</table>
</div>
<div class="two-thirds-height full-width margin flex centered">
<table class="full-height full-width margin">
<tr>
<th></th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>T</th>
<th>A</th>
</tr>
#pairs#
</table>
</div>
</div>
</div>
</div>
</body>
</html>
