.page-container {
    height: calc(100vh - 19px);
    width: calc(100vw - 16px);
    overflow: hidden;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.centered {
    justify-content: center;
    align-items: center;
}

.full-height:not(.margin) {
    height: 100%;
}

.full-height.margin {
    height: calc(100% - 20px);
}

.full-width {
    width: calc(100% - 20px);
}

.full-width:not(.margin) {
    width: 100%;
}

.half-height:not(.margin) {
    height: 50%;
}

.half-height {
    height: calc(50% - 20px);
}

.half-width:not(.margin) {
    width: 50%;
}

.half-width {
    width: calc(50% - 20px);
}

.third-height:not(.margin) {
    height: 44.45%;
}

.third-height {
    height: calc(44.45% - 20px);
}

.two-thirds-height:not(.margin) {
    height: 55.55%;
}

.two-thirds-height {
    height: calc(55.55% - 20px);
}

.fifth-height:not(.margin) {
    height: 20%;
}

.fifth-height {
    height: calc(20% - 20px);
}

.four-fifths-height:not(.margin) {
    height: 80%;
}

.four-fifths-height {
    height: calc(80% - 20px);
}

.margin {
    margin: 10px;
}

table, th {
    border: 2px solid black;
    border-collapse: collapse;
}

.no-border {
    border: none !important;
}

.info-label {
    text-align: left;
    margin-left: 35px;
    align-items: center;
}

[value="S"] {
    background-color: red;
}

[value="S"]:after {
    content:'S';
}

[value="H"] {
    background-color: greenyellow;
}

[value="H"]:after {
    content:'H';
}

[value="D"] {
    background-color: yellow;
}

[value="D"]:after {
    content:'D';
}

[value="P"] {
    background-color: blueviolet;
}

[value="P"]:after {
    content:'P';
}
