<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="Diagram.css">
</head>
<body>
<div class="page-container flex">
<div class="full-height full-width margin flex centered">
<div class="full-height half-width margin flex centered">
<table class="full-height full-width margin">
<tr>
<th></th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>T</th>
<th>A</th>
</tr>
#hardhands#
</table>
</div>
<div class="full-height half-width margin flex column centered">
<div class="third-height full-width margin flex centered">
<table class="full-height full-width margin">
<tr>
<th></th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>T</th>
<th>A</th>
</tr>
#softhands#
</table>
</div>
<div class="two-thirds-height full-width margin flex centered">
<table class="full-height full-width margin">
<tr>
<th></th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>T</th>
<th>A</th>
</tr>
#pairs#
</table>
</div>
</div>
</div>
</div>
</body>
</html>
